
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #cdd8fd;
}

#tempConvert {
    padding: 30px 60px;
    min-height: 350px;
    background-color: #fff;
    border: 1px solid #878787;
    box-shadow: rgba(0, 0, 0, 0.5) -9px 10px 15px, rgba(0, 0, 0, 0.5) 0px 3px 10px;
}

label {
    font-size: 30px;
    line-height: 78px;
}

#temp {
    width: 150px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
}

#temp_diff {
    width: 150px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

#submit {
    border-radius: 5px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    color: #fff;
    background-color: rgb(0, 136, 247);
    padding: 10px 20px;
    border: none;
}


#result{
    font-size: 27px;
}
